@font-face {
    font-family: lemonmilk;
    src: url(./assets/fonts/lemonmilk.otf);
}

:root {
    --background: #101010;
    --text: #ffffff;
    --button: #404040;
    --buttonShadow: #303030;
}

* {
    font-family: lemonmilk, sans-serif;
    color: var(--text);
    text-align: center;
    margin: 0;
    font-weight: 200;
    text-transform: uppercase;
}

html,
body {
    background-color: var(--background);
    width: 100%;
    margin: 0;
    position: relative;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--text) !important;
    text-decoration: none;
}

h2 {
    font-size: 2vmax;
}

section {
    max-width: max-content;
    margin: auto;
}

#title {
    display: flex;
    width: 48vmax;
}

#logo {
    width: 40vmax;
    margin: 2vmax auto;
}

.version {
    text-align: left;
    display: inline-block;
    width: 4vmax;
    font-size: 1vmax;
    top: 4vmax;
    position: relative;
    height: 4vmax;
}

#svgHolder {
    margin-top: 16vmax;
    margin-bottom: 1vmax;
}

.footer {
    font-size: 2vmax;
    margin: 2vmax;
}

.socialsicon {
    height: 4vmax;
    width: 4vmax;
    margin: 0 1vmax;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.1s ease-in-out;
}

.socialsicon:hover {
    scale: 1.1;
}

.intro {
    font-size: 2vmax;
    margin: 2vmax auto;
    width: 60vmax;
}

#startButton {
    margin-bottom: 0.5vmax;
}

#startButton img {
    margin-right: 0;
    margin-left: 0.5vmax;
}

.notice {
    margin: 4vmax 0;
    max-width: 90vmax;
}

#homeTests {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 2vmax !important;
    align-items: center;
    justify-content: center;
}

#homeTests a {
    width: 100%;
}

.homeTest {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    margin: 0 auto !important;
}

.testIcon {
    display: block;
    height: 8vmax !important;
    width: auto !important;
    margin: 1vmax auto !important;
}

#quiz {
    padding: 0 2vmax 2vmax 2vmax;
}

#question {
    font-size: 3vmax;
    width: 60vmax;
    min-height: 4vmax;
    margin: auto;
}

#home,
#results,
#custom {
    padding: 0 4vmax 2vmax 4vmax;
}

.screenshot {
    padding: 0 4vmax;
}

.match {
    font-size: 3vmax;
    width: fit-content;
    max-width: 50vmax;
    min-height: 4vmax;
    margin: 2vmax auto;
    padding: 1vmax;
}

.quote {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 1.5vmax;
    width: fit-content;
    max-width: 50vmax;
    min-height: 4vmax;
    margin: 1vmax auto 0 auto;
    padding: 1vmax;
    position: relative;
}

.quote::before,
.quote::after {
    font-size: 3vmax;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.quote::before {
    content: '“';
    left: -2vmax;
}

.quote::after {
    content: '”';
    right: -2vmax;
}

.author {
    font-size: 1.5vmax;
    width: fit-content;
    margin: 0 auto 2vmax auto;
    padding: 1vmax;
    position: relative;
}

.author::before {
    font-size: 1.5vmax;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '-';
    left: -0.5vmax;
}

.button {
    align-items: center;
    justify-content: center;
    margin: 1vmax auto;
    border: none;
    display: flex;
    padding: 1.5vmax;
    font-size: 2vmax;
    cursor: pointer;
    width: 30vmax;
    outline: none;
    position: relative;
    background: var(--button);
    box-shadow: 0 0.5vmax var(--buttonShadow);
    border-radius: 1vmax;
}

.button:hover,
.homeTest:hover {
    filter: brightness(1.1);
}

.button:active,
.homeTest:active {
    box-shadow: none !important;
    top: 0.5vmax;
}

.button img {
    margin-right: 0.5vmax;
    width: 2vmax;
}

.button span {
    align-items: center;
    display: flex;
}

.smallButtons {
    display: flex;
    width: 31vmax;
    margin: auto;
}

.small {
    width: 14.5vmax;
    font-size: 1.5vmax;
    padding: 1vmax;
}

.back {
    margin: auto !important;
}

.flag {
    image-rendering: pixelated;
    max-width: 30vmax;
    min-height: 10vmax;
    max-height: 20vmax;
    border-radius: 3vmax;
}

#customMatch,
#customQuote,
#customAuthor {
    cursor: pointer;
    min-width: 4vmax;
    border-radius: 1vmax;
}

#customFlag:hover,
#customMatch:hover,
#customQuote:hover,
#customAuthor:hover {
    outline: solid 0.25vmax white;
}

#customFlag:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

@media only screen and (max-width: 800px) {

    h2 {
        font-size: 6vmin;
    }

    #logo {
        width: 70vmin;
    }

    .notice {
        font-size: 4vmin;
    }

    #homeTests {
        flex-direction: column;
    }

    #homeTests a {
        width: 80vmin;
    }

    .socialsicon {
        height: 12vmin;
        width: 12vmin;
        margin: 0 2vmin;
    }

    .socialsicon:hover {
        scale: 1.1;
    }

    #svgHolder {
        margin-top: 32vmin;
    }

    .footer {
        font-size: 6vmin;
    }

    .intro {
        width: 80vmin;
    }

    #startButton {
        margin-bottom: 1vmax;
    }

    #startButton img {
        margin-left: 2vmin;
    }

    #question {
        width: 80vmin;
    }

    .button {
        font-size: 6vmin;
        padding: 8vmin 4vmin;
        width: 80vmin;
    }

    .button img {
        width: 6vmin;
        padding-right: 2vmin;
    }

    .smallButtons {
        display: flex;
        width: 84vmin;
        margin: auto;
    }

    .small {
        width: 50vmin;
        font-size: 4vmin;
        padding: 4vmin;
        margin: 2vmin;
    }

    .small img {
        width: 6vmin;
    }

    .quote {
        max-width: 80vmin;
        font-size: 3vmin;
    }

    #customMatch {
        max-width: 80vmin;
    }
}